/* Reset margins */

*, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* navigation bar */

.contained {
    background: #005F71;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 70px;
}
.contained__navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1399px;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 140px;
    overflow-y: hidden;
}

.contained__navigation__box {
    display: flex;
    height: 70px;
}

.contained__navigation__box__link {
    color: #fff;
    padding: 26px;
    text-decoration: none;
    font-size: 100%;
    display: flex;
    align-items: center;
}

.contained__navigation__box__link__icon {
    margin: 0 3px;
    width: 24px;
    transform: rotate(-90deg);
}

.contained__navigation__box__link__label {
    text-align: center;
}
/* main content */

.main {
    max-width: 1399px;
    display: flex;
    margin: auto;
}

.main__hero {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main__hero {
        display: flex;
        justify-content: space-between;
    }
}

.main__hero__image {
    flex: 1;
    max-width: 550px;
}

.main__hero__image__photo {
    position: relative;
    max-width: 100%;
}

.main__hero__info__title {
    font-style: initial;
    font-size: 46px;
    color: #005F71;
}

.main__hero__info__subtitle {
    font-size: 31px;
    padding: 45px 0;
    color: #6C7375;
}

.main__hero__info__about_us {
    font-size: 20px;
    color: #445B70;
}

.main__hero__info {align-self: flex-end;max-width: 768px;padding: 5%;width: 50%;}

.main__hero__info__cta {
    background: #A8D4DB;
    border: none;
    padding: 19px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
    box-shadow: 0px 20px 39px #00000030;
    position: relative;
}

.main__hero__info__cta__icon {
    width: 29px;
}

@media screen and (max-width: 1399px) {

    .main__hero__image {
        align-items: center;
        display: flex;
        width: 50%;
    }
}

@media screen and (max-width: 1199px) {
    .main__hero {
        flex-direction: column;
    }
    .main__hero__image {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-top: 70px;
    }
    .main__hero__info {
        width: 100%;
        max-width: ;
        justify-content: center;
        padding: 0;
        align-self: center;
    }
    
    .main {
        margin-top: 70px;
    }
}

@keyframes dropFadeIn {
   from   {  
    opacity: 0%;
    top: -5%;
   }
  to { top: 0px; 
  opacity: 100%}
}

@keyframes bounce {
    from {
        top: -5px;
    } to {
        top: 0px;
    }
}

@keyframes makeGlow {
   from { 
    text-shadow: 0px 0px 10px #fff;
   } 
   to {
        text-shadow: 0px 0px 1px #fff;
    }
}

@keyframes rotateIcon {
    from {
        transform: rotate(-90deg)
    }
   to {
        transform: rotate(0deg)
    }
}

.main__hero__image__photo {
    animation: dropFadeIn 1s;
}

.main__hero__info__cta:hover {
    animation: bounce 1s infinite alternate;
    background: royalblue;
    cursor: pointer;
}

.contained__navigation__box__link:hover {
    animation: makeGlow 1s infinite alternate;
}

.contained__navigation__box__link--active .contained__navigation__box__link__icon {
    transform: rotate(0deg);
    animation: rotateIcon 1s;
}